{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Bharatoff</title>
      <meta content="" name="descriptison">
      <meta content="" name="keywords">
      <!-- Favicons -->
      <link href="{% static 'offer/img/logo.jpg' %}" rel="icon">
      <link href="{% static 'offer/img/logo.jpg' %}" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Vendor CSS Files -->
      <link href="{% static 'offer/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'offer/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
      <link href="{% static 'offer/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
      <link href="{% static 'offer/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
      <link href="{% static 'offer/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
      <link href="{% static 'offer/vendor/venobox/venobox.css' %}" rel="stylesheet">
      <link href="{% static 'offer/vendor/aos/aos.css' %}" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="{% static 'offer/css/style.css' %}" rel="stylesheet">
   </head>
   <body>
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top d-flex align-items-center">
         <div class="container d-flex align-items-center">
            <div class="logo mr-auto">
               <a href="/"><img src="{% static 'offer/img/logo.jpg' %}" alt="" class="img-fluid"><span style="font-size: 25px;font-family: 'Abril Fatface', cursive; color:#FF5A00; margin-left: 5px; margin-top:5px;">Bharat</span><span style="font-size: 25px;font-family: 'Abril Fatface', cursive; color:#000; margin-top:5px;">off</span></a>
            </div>
            <nav class="nav-menu d-none d-lg-block">
               <div class="text-center mt-5 ml-3 mr-3">
                  <p>Sorry, we can't operate unless your location is ON.</p>
               </div>
            </nav>
            <!-- .nav-menu -->
         </div>
      </header>
      <!-- End Header -->
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                  <h1>Location Unavailable</h1>
                  <br>
                  <h2>NOTE: Please ON your location from navigation bar of your smartphone.</h2>
                  <div>
                     <a href="/" class="btn-get-started scrollto" style="border-color:#ff5a00; color: #000000; background-color: #ff5a00;">Refresh Now</a>
                  </div>
               </div>
               <div class="col-lg-6 order-1 order-lg-2 hero-img" >
                  <img src="{% static 'offer/img/loc.svg' %}" class="img-fluid animated" alt="">
               </div>
            </div>
         </div>
      </section>
      <!-- End Hero -->
      
      <!-- ======= Footer ======= -->
      <footer id="footer">
         <div class="container">
            <div class="row d-flex align-items-center">
               <div class="col-lg-6 text-lg-left text-center">
                  <div class="copyright">
                     &copy; Copyright <strong>Bharatoff</strong>. All Rights Reserved
                  </div>
                  <div class="credits">
                     <!-- All the links in the footer should remain intact. -->
                     <!-- You can delete the links only if you purchased the pro version. -->
                     <!-- Licensing information: https://bootstrapmade.com/license/ -->
                     <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
                  </div>
               </div>
               <div class="col-lg-6">
                  <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                     <a href="#intro" class="scrollto">Home</a>
                     <a href="#about" class="scrollto">offers</a>
                     <a href="#">Register/Login</a>
                  </nav>
               </div>
            </div>
         </div>
      </footer>
      <!-- End Footer -->
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <!-- Vendor JS Files -->
      <script src="{% static 'offer/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'offer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'offer/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
      <script src="{% static 'offer/vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static 'offer/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'offer/vendor/counterup/counterup.min.js' %}"></script>
      <script src="{% static 'offer/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'offer/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'offer/vendor/venobox/venobox.min.js' %}"></script>
      <script src="{% static 'offer/vendor/aos/aos.js' %}"></script>
      <!-- Template Main JS File -->
      <script src="{% static 'offer/js/main.js' %}"></script>
      <script type="text/javascript">
         
         alert("Please make sure your GPS is ON for better performance")
         
         $(document).ready(function(){
           navigator.geolocation.getCurrentPosition(onPositionUpdate);
         });
         
         function onPositionUpdate(position)
         {
           var lat = position.coords.latitude;
           var lon = position.coords.longitude;
         
           var url = '/location';
         
           var form = $('<form action="' + url + '" method="post">' +
             '<input type="text" name="lat" value="' + lat + '" />' +
             '<input type="text" name="lon" value="' + lon + '" />' +
             '</form>');
           $('body').append(form);
           form.submit();
         }
      </script>
   </body>
</html>