{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bharatoff Dashboard</title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'dashboard/css/styles.css' %}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/dashboard">Bharatoff Dashboard</a>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <br>
                        <h1 class="mt-5">Settings Page</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/dashboard">Dashboard</a></li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Total City</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">Total - {{city}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Active Locations</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">Total - {{location}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Start date</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">{{ad.date}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Activated till</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">{{ad.activated_till}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Available Images
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">S.No.</th>
                                                <th class="text-center">click to open</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Activate</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center">S.No.</th>
                                                <th class="text-center">click to open</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center"><button class="btn btn-success" type="submit" onclick="myfunction()">ACTIVATE</button></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <form id="img_form" method="POST">
                                                {%csrf_token%}
                                                <input type="hidden" name="file" value="{{ad.id}}">
                                                <tr>
                                                    {%if img%}
                                                        <td class="text-center">1.</td>
                                                        <td style="cursor: pointer;" class="text-center" data-toggle="modal" data-target="#exampleModalCenter">click to open</td>
                                                        
                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 1</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        
                                                        {%if active == '0'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="0" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="0" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img1%}
                                                        <td class="text-center">2.</td>
                                                        <td style="cursor: pointer;" class="text-center" data-toggle="modal" data-target="#exampleModalCenter2">click to open</td>
                                                        
                                                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 2</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img1.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>

                                                        {%if active == '1'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="1" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="1" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>
                                                
                                                <tr>
                                                    {%if img2%}
                                                        <td class="text-center">3.</td>
                                                        <td style="cursor: pointer;" class="text-center" data-toggle="modal" data-target="#exampleModalCenter3">click to open</td>

                                                        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 3</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img2.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '2'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="2" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="2" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                <tr>

                                                <tr>
                                                    {%if img3%}
                                                        <td class="text-center">4.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter4">click to open</td>

                                                        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 4</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img3.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '3'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="3" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="3" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img4%}
                                                        <td class="text-center">5.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter5">click to open</td>

                                                        <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 5</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img4.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '4'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="4" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="4" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img5%}
                                                        <td class="text-center">6.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter6">click to open</td>

                                                        <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 1</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img5.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '5'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="5" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="5" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img6%}
                                                        <td class="text-center">7.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter7">click to open</td>
                                                        <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 7</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img6.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '6'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="6" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="6" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img7%}
                                                        <td class="text-center">8.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter8">click to open</td>
                                                        <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 8</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img7.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '7'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="7" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="7" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img8%}
                                                        <td class="text-center">9.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter9">click to open</td>
                                                        <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 9</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img8.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '8'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="8" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="8" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    {%if img9%}
                                                        <td class="text-center">10.</td>
                                                        <td class="text-center" data-toggle="modal" data-target="#exampleModalCenter10">click to open</td>
                                                        <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Image 10</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{ad.img9.url}}" class="img-fluid" alt="" style="width: 100%;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        {%if active == '9'%}
                                                            <td class="text-center text-success">Active</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="9" checked > click to activate</td>
                                                        {%else%}
                                                            <td class="text-center text-danger">Deactive</td>
                                                            <td class="text-center"><input type="radio" name="img_code" value="9" > click to activate</td>
                                                        {%endif%}
                                                    {%endif%}
                                                </tr>

                                                <tr>
                                                    <td class="text-center bg-secondary"></td>
                                                    <td class="text-center bg-secondary"></td>
                                                    <td class="text-center bg-secondary"></td>
                                                    <td class="text-center bg-secondary pl-5 pr-5">
                                                        <select class="form-control" name="auto_option" id="auto_option">
                                                            <!-- {%if active_option == '0'%}
                                                                <option value="0" selected>Twice a day</option>
                                                            {%else%}
                                                                <option value="0">Twice a day</option>
                                                            {%endif%} -->

                                                            {%if active_option == '1'%}
                                                                <option value="1" selected>Daily</option>
                                                            {%else%}
                                                                <option value="1">Daily</option>
                                                            {%endif%}

                                                            {%if active_option == '2'%}
                                                                <option value="2" selected>Weekly</option>
                                                            {%else%}
                                                                <option value="2">Weekly</option>
                                                            {%endif%}

                                                            {%if active_option == '3'%}
                                                                <option value="3" selected>Fortnight</option>
                                                            {%else%}
                                                                <option value="3">Fortnight</option>
                                                            {%endif%}

                                                            {%if active_option == '4'%}
                                                                <option value="4" selected>Monthly</option>
                                                            {%else%}
                                                                <option value="4">Monthly</option>
                                                            {%endif%}

                                                            {%if active_option == '5'%}
                                                                <option value="5" selected>Manual Settings</option>
                                                            {%else%}
                                                                <option value="5">Manual Settings</option>
                                                            {%endif%}
                                                          </select>
                                                    </td>
                                                </tr>
                                            </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4" id="myRewards">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                My Coupons
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">S.No.</th>
                                                <th class="text-center">Coupon Code</th>
                                                <th class="text-center">Start Date</th>
                                                <th class="text-center">End Date</th>
                                                <th class="text-center">Total Coupon</th>
                                                <th class="text-center">Minimum Purchase</th>
                                                <th class="text-center">Total Discount</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center">S.No.</th>
                                                <th class="text-center">Coupon Code</th>
                                                <th class="text-center">Start Date</th>
                                                <th class="text-center">End Date</th>
                                                <th class="text-center">Total Coupon</th>
                                                <th class="text-center">Minimum Purchase</th>
                                                <th class="text-center">Total Discount</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for coupon in coupons %}
                                                <tr>
                                                    <td class="text-center">{{forloop.counter}}.</td>
                                                    <td class="text-center">{{coupon.code}}</td>
                                                    <td class="text-center">{{coupon.start_date}}</td>
                                                    <td class="text-center">{{coupon.end_date}}</td>
                                                    <td class="text-center">{{coupon.total_coupon}}</td>
                                                    <td class="text-center">{{coupon.minimum_purchase}}</td>
                                                    <td class="text-center">{{coupon.total_discount}}</td>
                                                    {%if coupon.active%}
                                                        <td class="text-center text-success">Active</td>
                                                    {%else%}
                                                        <td class="text-center text-danger">Deactive</td>
                                                    {%endif%}
                                                    <td class="text-center"  data-toggle="modal" data-target="#exampleModal{{coupon.id}}">Manage</td>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{coupon.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">{{coupon.code}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                      <input type="datetime-local" class="form-control" name="startdate" placeholder="Start Date">
                                                                      <small class="form-text text-muted">Start Date: Previously set to {{coupon.start_date}}</small>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <input type="datetime-local" class="form-control" name="enddate" placeholder="End Date">
                                                                      <small class="form-text text-muted">End Date: Previously set to {{coupon.end_date}}</small>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <input type="number" class="form-control" name="minimumPurchase" placeholder="Minimum Purchase" value="{{coupon.minimum_purchase}}">
                                                                      <small class="form-text text-muted">Minimum Purchase</small>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <input type="number" class="form-control" name="discount" placeholder="Discount" value="{{coupon.total_discount}}">
                                                                      <small class="form-text text-muted">Total Discount</small>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <input type="number" class="form-control" name="totalCoupon" placeholder="Total Coupon" value="{{coupon.total_coupon}}">
                                                                      <small class="form-text text-muted">Total Coupon</small>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Bharatoff 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>
            function myfunction()
            {
                document.getElementById("img_form").submit();
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dashboard/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dashboard/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'dashboard/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dashboard/assets/demo/datatables-demo.js' %}"></script>
    </body>
</html>
